name: Build and push docker image to Docker Hub

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-24.04-arm

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Run "Build and Push" with Dagger
        uses: dagger/dagger-for-github@v8.2.0
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        with:
          version: "0.19.8"
          call: >-
            build-and-push
            --source .
            --docker-username "$DOCKERHUB_USERNAME"
            --docker-password env://DOCKERHUB_TOKEN
            --image-tag "dariomr8/shortly:latest"
